*{
    padding: 0;
    margin: 0;
}
.col1{
    color: #FFFFFF;
}
#nav{
    padding-top:200px;
    padding-bottom:267px;
    background:url(../images/bg-image.jpg) no-repeat center / cover;
}
 #nav .input input{
    width: 400px;
    position: absolute;
    top:10%;
}
#nav #button {
   position: absolute;
   top:10%;
    right: 400px;
    background: #e23e38;
    color: #FFFFFF;
    border-radius: 5px;
    outline: none;
    border: none;
}
#nav .img figure{
    position: absolute;
    top:20%;
    left: 50%;
    transform: translateX(-50%);
}
#nav .img h2{
    padding-top:80px;
    padding-bottom: 14px;
}
#nav .img h3{
    padding-bottom: 13px;
}
#nav .media img{
    margin-top: 30px;
}
#nav .media #play{
    cursor: pointer;
    width:50px;
}
